@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
};
.navigator-container {
  width: 60vw;
  height: 50vh;
  display: flex;
  .main-container {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgba($color: #bbbbbb, $alpha: 0.4);
    border-radius: 2vw;
    .navigator-box {
      height: 50%;
      width: 25%;
      @include flex-center;
      // border: #000 solid 1px;
      .add {
        font-size: 5vw;
        color: #666666;
        opacity: 0.8;
        &:hover {
          cursor: pointer;
        }
      }
      .center {
        height: 75%;
        width: 75%;
        @include flex-center;
        .nav-bg {
          height: 100%;
          width: 100%;
          @include flex-center;
          &:hover {
            background-color: rgba($color: #aaaaaa, $alpha: 0.8);
            border-radius: 1vw;
            cursor: pointer;
          }
        }
        .href {
          height: 100%;
          width: 66.7%;
          .icon {
            height: 66.7%;
            width: 100%;
            @include flex-center;
            img {
              width: 80%;
              border-radius: 50%;
            }
          }
          .title {
            height: 33%;
            @include flex-center;
            span {
              @include flex-center;
              color: #000;
              width: 75%;
              height: 60%;
              background-color: rgba($color: #fff, $alpha: 0.6);
              border-radius: 2vw;
            }
          }
        }
      }
    }
  }
  .arrow {
    width: 5vw;
    height: 100%;
    @include flex-center;
    font-size: 5vw;
    color: #dddddd;
    opacity: 0.7;
  }
}