.background {
  height: 100vh;
  width: 100vw;
  top: 0;
  background-image: url(../assets/background.jpg);
  position: fixed;
  z-index: -1;
  transition: filter 0.2s;
}
.blur {
  filter: blur(5px);
}
.main-container {
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  };
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .timer-container {
    height: 35%;
    width: 100%;
    @include flex-center;
    align-items: flex-end;
    .timer {
      user-select: none;
      font-size: 5rem;
      padding: 10px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 0 10px #000;
      opacity: 0.8;
      transition: font-size 0.2s;
      &:hover {
        font-size: 5.5rem;
        cursor: pointer;
      }
    }
  }
  .item-container {
    height: 65%;
    width: 100%;
    @include flex-center;
    align-items: flex-start;
    padding-top: 2vh;
    .search-box {
      width: 20vw;
      height: 5vh;
      transition: width 0.3s, opacity 0.3s;
      opacity: 0.8;
      &:hover {
        width: 40vw;
        opacity: 1;
      }
    }
    .search-box-trigged {
      width: 40vw;
      opacity: 1;
    }
    .navigator-container {
      width: 60vw;
      height: 50vh;
      display: flex;
      .main-container {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        background-color: rgba($color: #bbbbbb, $alpha: 0.4);
        border-radius: 2vw;
        .navigator-box {
          height: 50%;
          width: 25%;
          @include flex-center;
          // border: #000 solid 1px;
          .add {
            font-size: 5vw;
            color: #666666;
            opacity: 0.8;
            &:hover {
              cursor: pointer;
            }
          }
          .center {
            height: 75%;
            width: 50%;
            .icon {
              height: 67%;
              width: 100%;
              @include flex-center;
              img {
                width: 80%;
                border-radius: 50%;
              }
            }
            .title {
              height: 33%;
              @include flex-center;
              span {
                @include flex-center;
                color: #000;
                width: 75%;
                height: 60%;
                background-color: rgba($color: #fff, $alpha: 0.6);
                border-radius: 2vw;
              }
            }
          }
        }
      }
      .arrow {
        width: 5vw;
        height: 100%;
        @include flex-center;
        font-size: 5vw;
        color: #dddddd;
        opacity: 0.7;
      }
    }
  }
}